h1 {
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000B4F;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    text-align: center;
    margin-top: 30px;
}

p {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0%;
    margin-left: 30%;
    margin-right: 30%;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
}


ul {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

body {
    background-color: #d5e1df;
}